.work-block {
    font-family: "Segoe UI", Arial, "Microsoft YaHei";
    display: inline-block;
    width: 290px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, .5), inset 0 50px 100px 0px rgba(255, 255, 255, .3), inset 0 100px 100px 0px rgba(255, 255, 255, .3), inset 0 150px 100px 0px rgba(255, 255, 255, .3);
    height: 620px;
    margin: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 1) 100%);
    padding: 25px;
    float: left;
}

.work-block a,
.code,
.api {
    text-decoration: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px -2px;
    padding: 8px;
    border-radius: 5px;
    font-size: 10pt;
    margin: 3px;
    display: inline-block;
}

.work-block a {
    color: black;
    background: white;
}

.work-block h3 {
    text-align: center;
    font-size: 20pt;
}

.code {
    color: white;
    background: #bd2222;
}

.api {
    color: white;
    background: #2258bd;
}

video,
.video {
    width: 290px;
    height: 200px;
    box-sizing: border-box;
}

.video {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-position-x: center;
    background-position-y: center;
}


/* Hide Play button + controls on iOS */

video::-webkit-media-controls {
    display: none !important;
}